/* Add CSS Styling */

.odd {
background-color: #ff000080;
font-family: Verdana, DejaVu Sans, sans-serif;
}

#two {
font-size: 36px;
color: rgb(0,0,255);
}

.third

{
font-size: 24px;
}

#fourth {
font-weight: bold;
font-size: 24px;
background-color: hsla(133, 100%, 50%, 0.802);
}