<<<<<<< HEAD
/* Add CSS Styling */

.left
.right {
    font-size: 28px;
    font-family: `Helvetica` `Times `sans-serif` ;
}

.left {
    color: white;
    background-color: black;
}

.right {
    background-color: yellow;
}
=======
/* Add CSS Styling */
>>>>>>> parent of a37fa68 (Complete excercise-03)
