body {
  background: #eee;
  font-family: sans-serif;
}

div {
  padding: 10px;
  margin-bottom: 10px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 10px auto;
  font-size: 16px;
  
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  font-size: 16px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin-bottom: auto;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 10px 20px ;
  margin-left: 10em;
}